{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O autorze</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main-container">
    <div class="author-box">
      <h1 class="author">Wiktor Jurkowski</h1>
      <p class="author-description">
        Wiktor Jurkowski to jeden z najbardziej obiecujących programistów swojego pokolenia. Z pasją i oddaniem zajmuje się tworzeniem innowacyjnych rozwiązań technologicznych, które zmieniają sposób, w jaki korzystamy z internetu. Jego projekty, takie jak <strong>CeneoWebScrapper</strong>, zdobyły uznanie w branży i pozwoliły milionom użytkowników zaoszczędzić czas i pieniądze na zakupach online.
      </p>
      <p class="author-description">
        Wiktor nie tylko skupia się na rozwoju technologicznym, ale również aktywnie wspiera różne inicjatywy charytatywne. Jego filantropijne podejście do życia sprawia, że nie przechodzi obojętnie obok potrzebujących. Kiedy nie pracuje nad kodem, można go spotkać w kasynie przy stole do blackjacka, rzucającego protokątne żetony. Chociaż nie zawsze wygrywa w kasynie, jego podejście do życia jest równie pełne pasji i zaangażowania jak jego projekty.
      </p>
      <p class="author-footer">
        Autor projektu <strong>CeneoWebScrapper</strong>
      </p>
    </div>
  </div>
  <button class="rotate-button">Disco</button>
  <script>
    const rotateButton = document.querySelector('.rotate-button');
    const body = document.querySelector('body');

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    rotateButton.addEventListener('click', () => {
        
        body.classList.add('rotate');
        
        body.style.backgroundColor = getRandomColor();

        
        setTimeout(() => {
            body.classList.remove('rotate');
        }, 1000); 
    });
</script>
</body>
</html>



{% endblock %}